#modal {
    width: 800px;
}

#modal .modal-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 68px 100px;
    background-color: #FFF;
    border-radius: 20px;
    color: #5B2386;
    text-align: center;
}

#modal .modal-wrap h2 {
    font-size: 60px;
}

#modal .modal-wrap h3 {
    font-size: 30px;
}

#modal img {
    max-width: 342px;
    margin-bottom: 20px;
}

#modal .btn-close {
    box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 15%), 0px 5px 16px 0px rgb(0 0 0 / 15%);
    margin-bottom: 20px;
}

#modal p {
    color: #747474;
    font-size: 13px;
}