.list-area {
    list-style: none;
    padding: 0;
}

.list-area li {
    border: 1px solid black;
}

.list-area li+li {
    border-top: 0;
}

.list-area li.active {
    color: white;
    background-color: royalblue;
}